@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* fonts */

@font-face {
    font-family: 'AddressSansProR';
    src: local('address_sans_pro_regular'), url('./assets/fonts/address_sans_pro_regular.otf') format('otf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AddressSansProXtR';
    src: url('./assets/fonts/address_sans_pro_xt_regular.otf') format('otf');
    font-weight: 1400;
    font-style: normal;
}

@font-face {
    font-family: 'AddressSansProB';
    src: local('address_sans_pro_bold'), url('./assets/fonts/address_sans_pro_bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}


@layer base {

    html{
        scroll-behavior: smooth !important;
    }
    .bg-cream {
        background-color: #fff8dc; /* or any other creamy color you prefer */
    }
    body {
        @apply bg-navy;
        font-family: 'Open Sans' , 'sans-serif';
        /* background-image: url(./assets/images/eggs_texture.PNG) !important;
        background-repeat: repeat; */
    }
    .video-container {
        display: flex;
        justify-content: center;
    }

    /* Eggs background */
    .container_eggs:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -2;
        /* background: linear-gradient(0deg, rgba(255, 255, 255, 0.000000001), rgba(255, 255, 255, 0.0001)), url(./assets/images/Egg.png) !important;
        background-repeat: repeat; */
        opacity: 0.01;
    }     
    .container_eggs{
        position: relative;
    }
    /* .eggs_bg {
        position: relative; 
        z-index: -2;
    }​  */

    /* Arrows for titles */    
    /* left side */
    .arrow_title_left div h2 {
        position: relative;
        background-image: linear-gradient( 90deg, #48FCDF 0%, #E6D2FF 48%, #F72585 100%);
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
    .arrow_title_left div h2:before {
        position: absolute;
        content: " ";
        display: block;
        left: calc(100% + 20px);
        background: url(./assets/images/svg/arrow_right_s.svg)  no-repeat;
        top: 23px;
        width: 450px;
        height: 18px;
    }

    /* both sides */
    .arrow_title div h2 {
        position: relative;
        background-image: linear-gradient( 90deg, #48FCDF 0%, #E6D2FF 48%, #F72585 100%);
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
    .arrow_title div h2:before {
        position: absolute;
        content: " ";
        display: block;
        left: calc(100% + 50px);
        background: url(./assets/images/svg/arrow_right_s.svg) no-repeat;
        top: 23px;
        width: 455px;
        height: 18px;
    }
    .arrow_title div h2:after {
        position: absolute;
        content: " ";
        display: block;
        right: calc(100% + 50px);
        background: url(./assets/images/svg/arrow_left_s.svg) center center no-repeat;
        top: 23px;
        width: 455px;
        height: 18px;
    }

    /* Neon for borders */
    .neonText {
        color: #060039;
        text-shadow:
            0 0 7px #060039,
            0 0 10px #060039,
            0 0 21px #060039,
            0 0 42px #060039,
            0 0 82px #fff,
            0 0 92px #fff,
            0 0 102px #0ff,
            0 0 151px #0ff;
      }
      .companies_img{
        filter: brightness(0) invert(1);
      }
      .rounded_neon_element{
        border-radius: 50%;
        box-shadow:
            0 0 10px #fff,            /* outer white */
            -5px 0 5px #f0f,        /* outer left magenta */
            5px 0 10px #0ff;         /* outer right cyan */
          
      }

      .border_cyan {
        border-radius: 10%;
        border:#0ff solid 1px;
      }

      .neon_simple{
        border-radius: 10%;
        box-shadow:
            0 0 8px #fff,            /* outer white */
            -1px 0 4px #f0f,        /* outer left magenta */
            1px 0 4px #0ff;         /* outer right cyan */
      }
    .neon {
        background-color: #fff;    
        box-shadow: 1px 2.5px 3px 3px #0ff;
    }
    
    .colorfull_text{
        background-color: #48FCDF;
        background-image: linear-gradient( 90deg, #48FCDF 0%, #E6D2FF 48%, #F72585 100%);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    /* Flickering animation */

    .glowing_txt {
        animation: flicker 4s infinite alternate;  
    }
    @keyframes flicker {
        
        0%, 18%, 22%, 25%, 53%, 57%, 100% {
    
            text-shadow:
                0 0 4px #fff,
                0 0 11px #fff,
                0 0 19px #0fa,
                0 0 20px #0fa,
                0 0 25px #0fa,
                0 0 30px #0fa,
                0 0 40px #0fa,
                0 0 60px #0fa;
        
        }
        
        20%, 24%, 55%, 70%, 90% {        
            text-shadow: none;
        }    
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Poppins', sans-serif;
        line-height: 1.3 !important;
    }

    .list li::before {
        position: absolute;
        left: -8px;
        top: 12px;
        content: ' ';
        border: 4px solid rgba(255, 255, 255, 1);
        transform: rotate(45deg);
        background: #171824;
        height: 15px;
        width: 15px;
        transition: all 500ms ease-in-out;
    }

    .carousel.carousel-slider {
        padding: 25px;
    }

    .hover-underline-animation {
        display: inline-block;
        position: relative;
        color: #171824;
        cursor: pointer;
    }

    .hover-underline-animation:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #171824;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .stylistic-quote-mark {
        font-size: 5rem;
        right: 100%;
        @apply mr-2 hidden text-neutral-500 absolute top-0 leading-none;
    }

    @screen sm {
        .stylistic-quote-mark {
            @apply block;
        }
    }

    .companies_list {
        padding-top: 80px;
    }
}

@layer components {
    .text-gradient-primary {
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(135deg,#846ff4,#171824);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    .button {
        @apply py-3 px-6;
        @apply border border-solid rounded;
        @apply duration-300;
    }

    .button-outline {
        @apply border-pink;
        @apply text-pink;
    }

    .button-primary {
        @apply border-pink hover:border-purple;
        @apply bg-pink hover:bg-purple;
        @apply text-white;
    }

    .menu-toggle-nonactive {
        @apply duration-500 opacity-0 invisible lg:opacity-100 lg:visible;
    }

    .menu-toggle-active {
        @apply duration-500 opacity-100 visible lg:opacity-100 lg:visible;
    }
}

/* for mobile */
@media screen and (max-width: 800px) {
    /* removes padding that was added for navbar */
    #solana, #auction, #story, #roadmap, #team, #companies, #earn{
        padding-top: 0px !important;
    }
    #earn {
        margin-top: 30px;
    }
    .p2e{
        margin-top: -80px;
    }
        .p2e .glowing_txt{
            margin-bottom: 40px;
            margin-top: -30px;
        }
    .o2e {
        padding-bottom: 0px !important;
        margin-bottom: 0px !important;
    }
    #story{
        margin-top: -40px;
    }
    /* .relative img{
        margin-top: 20px;
        margin-bottom: -50px !important;
    } */
    /* add padding for footer */
    #footer{
        padding: 20px;
        padding-top: 0px !important;
    }
    
    /* Arrows for titles */
    /* left side */
    .arrow_title_left div h2:before {
        display: none;
    }

    /* both sides */
    .arrow_title div h2:before {
        display: none;
    }
    .arrow_title div h2:after {
        display: none;
    }

    #game img {
        width: 130% !important;
        margin-top: -20px;
    }
    .companies_list {
        padding-top: 60px;
    }
    .companies_list img {
        max-width: 100px;
        max-height: 100px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1700px) {
    .zoom_out{
        zoom: 85%;
    }
}


@media screen and (min-width: 800px) and (max-width: 1050px) {

    /* Arrows for titles */    

    .arrow_title_left_no div h2 {
        position: relative;
        background-image: linear-gradient( 90deg, #48FCDF 0%, #E6D2FF 48%, #F72585 100%);
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
    .arrow_title_left_no div h2:before {
        position: absolute;
        content: " ";
        display: block;
        left: calc(100% + 20px);
        background: url(./assets/images/svg/arrow_right_s.svg)  no-repeat;
        top: 0px;
        width: 0px;
        height: 0px;
    }
    /* left side */
    .arrow_title_left div h2 {
        position: relative;
        background-image: linear-gradient( 90deg, #48FCDF 0%, #E6D2FF 48%, #F72585 100%);
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
    .arrow_title_left div h2:before {
        position: absolute;
        content: " ";
        display: block;
        left: calc(100% + 20px);
        background: url(./assets/images/svg/arrow_right_s.svg)  no-repeat;
        top: 23px;
        width: 450px;
        height: 18px;
    }

    /* both sides */
    .arrow_title div h2 {
        position: relative;
        background-image: linear-gradient( 90deg, #48FCDF 0%, #E6D2FF 48%, #F72585 100%);
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
    }
    .arrow_title div h2:before {
        position: absolute;
        content: " ";
        display: block;
        left: calc(100% + 50px);
        background: url(./assets/images/svg/arrow_right_s.svg) no-repeat;
        top: 23px;
        width: 450px;
        height: 18px;
    }
    .arrow_title div h2:after {
        position: absolute;
        content: " ";
        display: block;
        right: calc(100% + 50px);
        background: url(./assets/images/svg/arrow_left_s.svg) center center no-repeat;
        top: 23px;
        width: 450px;
        height: 18px;
    }

    .carousel.carousel-slider {
        position: relative;
        margin: 0;
        overflow: hidden;
        padding: 0 20px 30px 20px;
      }
      .carousel.carousel-slider .control-arrow {
        top: 0;
        color: #fff;
        font-size: 26px;
        bottom: 0;
        margin-top: 0;
        padding: 5px;
        transition: all 0.2s ease-in-out;
      }
      .carousel.carousel-slider .control-arrow:hover {
        background: rgba(0, 0, 0, 0);
        transform: scale(1.5);
      }
      
      
}
